body {
    font-family: Verdana, sans-serif;
    background: black;
    color: white;
    text-align: center;
}

h1 {
    font-size: 3.125em;
    font-weight: normal;
}

h2 {
    font-size: 2.625em;
    font-weight: 300;
}

h1, h2 {
    margin-bottom: 1.65rem;
}

section {
    margin: 3.5em 0;
}

section a {
    display: block;
    color: aquamarine;
    margin-bottom: 1.25em;
}

p {
    font-size: 1.3125em;
    color: gray;
    margin-bottom: 1.52em;
}

footer {
    text-align: right;
}